/*
<link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro|Open+Sans' rel='stylesheet' type='text/css'>
font-family: 'Source Sans Pro', sans-serif;
*/

*{
	font-family: 'Source Sans Pro', sans-serif;
}

.container {
	margin: 3em auto;
	width: 600px;
}

.hidden {
	display: none; 
}

/*.left {
	float:left;
}*/

.stack-image {
	background: url('../images/stack-icon.png') no-repeat center center;
	width: 200px;
	height: 200px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	/*margin-right: 1em;*/
	border-radius: 5px;
	display:block;
	margin-right:auto;
	margin-left:auto;
}

h1{
	text-align:center;
}

.intro {
	margin-bottom: 1em;
}

.stack {
	clear: both;
}

.inspiration { 
	margin-left: 3em;
}

.result {
	border: 1px solid black;
	padding: 5px;
	margin: 0 auto 1em auto;
}

.error {
	background-color: #F78181;
	padding: 1em;
}

.question{
	background-color:#00ffff;
	text-align:left;
}

.display-container{
	margin:20px;
	border-bottom: 1px;
	/*border-style:solid;*/
	padding:10px;
}

